/* Account page rules */
div.account-content {
    font-size:16px;
}
div.account-content div.sign-manual {
    border-right: 1px dotted #C2C2C2;
    padding-right: 36px;
    min-height: 200px;
}
div.account-content .nav-tabs {
    margin-bottom: 15px;
}
div.account-content .sign-social > div.row {
    margin-top: 25px;
    padding: 20px;
}
div.account-content .sign-social .btn-social {
    width: 40%;
}
div.account-content div#OR {
    height: 36px;
    width: 36px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -18px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}
div.account-content .validation-summary-errors {
    float: right; 
    max-width: 75%;
}
div.account-header {
    margin-bottom: 2em;
}