@{
    ViewData["Title"] = "Access denied";
    ViewData["Message"] = "Access denied to this resource.";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="javascript:;">Access denied</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <p>
                    You do not have access to this resource.
                </p>
            </div>
        </div>
    </div>
</div>